{% extends "layout.twig" %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <p>Publié le {{ article.date }}</p>
    <p>{{ article.content }}</p>
    <a href="/">Retour à l'accueil</a>
{% endblock %}
