{% extends "admin_layout.twig" %}

{% block content %}
    <h1>Tableau de bord</h1>
    <p>Nombre d’utilisateurs : {{ stats.totalUsers }}</p>
    <p>Nombre d’articles : {{ stats.totalArticles }}</p>
{% endblock %}
