{% extends "admin_layout.twig" %}

{% block content %}
    <h1>Gestion des utilisateurs</h1>
    <a href="/admin/users/create">Ajouter un utilisateur</a>
    <ul>
        {% for user in users %}
            <li>
                {{ user.name }} - {{ user.email }}
                <a href="/admin/users/edit/{{ user.id }}">Modifier</a>
                <a href="/admin/users/delete/{{ user.id }}" onclick="return confirm('Supprimer cet utilisateur ?')">Supprimer</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
